@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0; }
  1% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }
.fade-in {
  animation: fade-in 300ms ease-in-out forwards; }

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1; }
  99% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: hidden;
    opacity: 0; } }
.fade-out {
  animation: fade-out 300ms ease-in-out forwards; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  max-width: 100%;
  box-sizing: border-box; }

.container {
  width: 100%;
  padding: 0 1.2rem;
  margin: auto; }
  @media (min-width: 64em) {
    .container {
      width: 64em; } }
  @media (min-width: 87.5em) {
    .container {
      width: 69.375em;
      padding: 0; } }

.row {
  display: flex;
  flex-wrap: wrap; }

.col-1 {
  width: 100%; }
  .col-1:not(:first-of-type) {
    padding-left: 0.9375rem; }
  .col-1:not(:last-of-type) {
    padding-right: 0.9375rem; }

.col-2 {
  width: 50%; }
  .col-2:not(:first-of-type) {
    padding-left: 0.9375rem; }
  .col-2:not(:last-of-type) {
    padding-right: 0.9375rem; }

.col-3 {
  width: 33.33%; }
  .col-3:not(:first-of-type) {
    padding-left: 0.9375rem; }
  .col-3:not(:last-of-type) {
    padding-right: 0.9375rem; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

ul {
  list-style-type: none; }

a, a:hover, a:visited {
  text-decoration: none; }

.justify-content-start {
  justify-content: flex-start; }
.justify-content-center {
  justify-content: center; }
.justify-content-end {
  justify-content: flex-end; }
.justify-content-around {
  justify-content: space-around; }
.justify-content-between {
  justify-content: space-between; }
.justify-content-evenly {
  justify-content: space-evenly; }

.align-items-start {
  align-items: flex-start; }
.align-items-center {
  align-items: center; }
.align-items-end {
  align-items: flex-end; }

.d-none {
  display: none; }
.d-inline {
  display: inline; }
.d-inline-block {
  display: inline-block; }
.d-block {
  display: block; }
.d-flex {
  display: flex; }
.d-grid {
  display: grid; }

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none; } }

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none; } }

.no-scroll {
  overflow: hidden; }

.header {
  background-image: url(../images/mobile/image-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 98vh;
  padding-top: 35px; }
  .header.open .hamburger span:first-of-type {
    transform: rotate(45deg); }
  .header.open .hamburger span:nth-of-type(2) {
    opacity: 0; }
  .header.open .hamburger span:last-of-type {
    transform: rotate(-45deg); }
  .header.open .overlay {
    visibility: visible; }
  .header.open #hamburgerMenu {
    visibility: visible; }
  .header__logo {
    position: relative; }
  .header .overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden; }
  .header #hamburgerMenu {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    transform: translateY(-50%);
    visibility: hidden; }
    .header #hamburgerMenu ul li a {
      font-size: 32px;
      text-transform: uppercase;
      font-family: "Josefin Sans", sans-serif;
      color: white; }
    .header #hamburgerMenu ul li:not(:last-of-type) {
      margin-bottom: 20px; }
  .header .hamburger {
    position: relative; }
    .header .hamburger > span {
      display: block;
      background-color: white;
      width: 25px;
      height: 3px;
      transform-origin: 1px; }
      .header .hamburger > span:not(:last-of-type) {
        margin-bottom: 5px; }
  .header .nav {
    position: relative; }
    .header .nav li a {
      font-size: 15px;
      color: white;
      position: relative; }
      .header .nav li a::before {
        content: '';
        clear: both;
        width: 50%;
        height: 3px;
        background-color: white;
        display: none;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%); }
      .header .nav li a:hover::before {
        display: block; }
    .header .nav li:not(:last-of-type) {
      margin-right: 30px; }
  .header__hero {
    display: flex;
    min-height: 80vh;
    align-items: center;
    width: 336px; }
    .header__hero h1 {
      font-size: 38px;
      color: white;
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      border: 2px solid white;
      padding: 30px; }
      @media (min-width: 40em) {
        .header__hero h1 {
          font-size: 50px; } }
      @media (min-width: 64em) {
        .header__hero h1 {
          font-size: 60px; } }
    @media (min-width: 64em) {
      .header__hero {
        width: 60%; } }

.interactive {
  margin-top: 80px;
  text-align: center; }
  .interactive .row {
    justify-content: center; }
    @media (min-width: 64em) {
      .interactive .row {
        justify-content: flex-start; } }
  .interactive__description {
    padding: 40px 20px; }
    .interactive__description h1 {
      font-size: 30px;
      text-transform: uppercase;
      font-family: "Josefin Sans", sans-serif;
      margin-bottom: 10px; }
      @media (min-width: 64em) {
        .interactive__description h1 {
          font-size: 52px;
          text-align: start; } }
    .interactive__description p {
      color: dimgray;
      font-family: "Alata", sans-serif;
      font-size: 15px; }
      @media (min-width: 64em) {
        .interactive__description p {
          text-align: start;
          font-size: 16px; } }
    @media (min-width: 64em) {
      .interactive__description {
        position: absolute;
        width: 600px;
        background-color: white;
        padding: 80px 0 0 120px;
        bottom: 0;
        right: 0; } }

/*# sourceMappingURL=style.css.map */
