// Variables 


// Colors 
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

// Font Sizes
$small: 0.9375rem;

// Font Families 
$fontAlata: 'Alata', sans-serif;
$fontJosefin: 'Josefin Sans', sans-serif;
